<h3>NEW RSVP!</h3>
	
<b>Name:</b> <%= @rsvp.name%>
<br/>
<b>Email</b>: <%=@rsvp.email%>
<br/>
<b>Plus Ones:</b> <%=@rsvp.adults%> Adults, <%=@rsvp.children%> Children
<br/>
<b>Message:</b> <%=@rsvp.message%>
